<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="user-directory">

      {{#users}}
      <div class="user-container">

        <div class="image-container">
          <div class="image">
            <img class="thumbnail" src="{{avatar}}" alt="{{name}}">
          </div>
        </div>

        <div class="text-container">
          <div class="name"><a href="#">{{name}}<a></div>
          {{#job}}
            <div class="job-company"><p>{{job}}, {{company}}</p></div>
          {{/job}}
          {{^job}}
            <div class="available"><p>Available for Hire</p></div>
          {{/job}}
        </div>


      </div>

      <br>
      {{/users}}
    </div>
  </body>
</html>
