.user-container{
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-width: thin;
  border-style: solid;
  margin: 10px;

}

.user-directory{
  display: flex;
  flex-flow: row wrap;
}

.text-container {
  justify-content: flex-start;
  font-size: 10px;
}

.available {
  color: red;
}

.job-company {
  color: grey;
}

.name > a{
  text-decoration: none;
}

.thumbnail {
  height: 110px;
  width: 110px;
}
